parameters:
	ignoreErrors:
		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: src/Notifications/Infrastructure/Factory/NotificationFactory.php

		-
			message: '#^Property Modules\\Notifications\\Infrastructure\\Factory\\NotificationFactory\:\:\$builders is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Notifications/Infrastructure/Factory/NotificationFactory.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Notifications/Infrastructure/Factory/NotificationFactory.php
